/*导航栏css代码start*/
a{
    text-decoration: none;
    color: #898989;
}
nav {
    position: relative;
    width: 80%;
    height: .3497rem;
    /*border: 1px solid red;*/
    margin: 0 auto;
}

nav .logo {
    float: left;
    display: block;
    width: 2.2867rem;
    height: .5524rem;
    background: url("../img/logo.png") no-repeat 0 0/2.2867rem .5524rem;
    background-size: 1.3986rem;
}

nav ul {
    line-height: .3497rem;
    float: right;
    display: flex;
    width: 3.4965rem;
    list-style: none;
}

nav ul li {
    font-size: .1119rem;
    text-align: center;
    flex: 1;
}

.nav_xuan {
    color: #4b4b4b;
}

/*导航栏css代码end*/

/*footer-css代码start*/
footer {
    font-size: 15px;
    position: relative;
    width: 100%;
    height: 1.3986rem;
    background-color: #29282d;
}

footer .foot_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.3916rem;
    height: .8392rem;
    /* border: 1px solid yellow; */

}

.foot_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.foot_box .foot_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 25%;
    font-size: 10px;
}

.foot_box .foot_div b {
    font-size: 16px;
}

.foot_box .foot_div ul {
    margin-top: .0699rem;
    line-height: .1678rem;
    list-style: none;
}

.foot_box .foot_div ul img {
    width: .2098rem;
}

.foot_box .foot_div:nth-child(1) ul {
    /* margin-top: 10px; */
    display: flex;

}

.foot_box .foot_div:nth-child(1) ul li {
    cursor: pointer;
    margin-right: .0699rem;
}

/*footer-css代码end*/


/*nav适配*/
@media screen and (max-width: 750px) {
    nav {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    nav ul {
        display: flex;
        right: -45px;
        background: white;
        border-radius: 15px;
        position: absolute;
        flex-direction: column;
        line-height: 20px;
        z-index: 5;
    }

    nav ul li {
        display: none;
        font-size: 16px;
        margin: 5px auto;
        z-index: 5;
    }

    nav .icon-liebiao2 {
        display: block !important;
        position: relative;
        width: 20px;
        left: 75px;
        right: 0;
        margin-bottom: 10px;
        transform: scale(1.5);
    }
    /* nav .icon-liebiao2:hover nav ul li{
        display: block !important;
    } */

    nav .logo {
        transform: scale(2.2);
        position: absolute;
        left: 35px;
        top: 5px;
    }
}

/*footer-适配*/
@media screen and (max-width: 750px) {
    footer {
        height: 400px;
        top: 20px;
    }

    .foot_box {
        top: 20px !important;
        left: 15px !important;
        transform: translate(0, 0) !important;
        flex-direction: column;
        height: 300px !important;
    }

    footer .foot_box .foot_div img {
        width: 35px;
        margin: 5px 0;
    }

    footer .foot_box .foot_div {
        height: 52px;
        justify-content: space-between;
        width: 100%;
    }

    footer .foot_box .foot_div ul {
        display: flex;
    }

    footer .foot_box .foot_div ul li {
        margin: 0 5px;
    }
}